.products__feed {
    margin-bottom: 30px;
    margin-top: 4em;
    text-align: center;

    @include has(header) {
        font-size: 20px;
        line-height: 1.5em;
    }

    @include desktop {
        margin-top: 3em;
    }
}

.feed__error {
    margin-top: 15px;
    display: block;
    color: $error-color;
}

.load-more-btn {
    display: block;
    margin: 0 auto 40px;
}