.form-center {
    margin: {
        top: 11em;
        left: auto;
        right: auto;
    }
    text-align: center;

    @include tablet {
        width: 100%;
    }

    @include desktop {
        width: 700px;
    }
}