.form__feed {
    
    display: block;
    
    @include has(header) {
        font: {
            family: $font-lato;
            size: 30px;
        }
        margin: {
            top: 0;
            bottom: 10px;
        }
    }

    @include has(text) {
        height: 45px;
        color: #999;
        font-size: 20px;
    }

    @include has(btn) {
        font: {
            size: 20px;
            weight: 300;
        }
        padding: 5px 15px;
    }
}