// Devices media queries
@mixin tablet {
  @media (min-width: #{$tablet-width}) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: #{$desktop-width}) {
    @content;
  }
}


// BEM
@mixin has($element) {
  &__#{$element} {
    @content;
  }
}

@mixin variant($modifier) {
  &--#{$modifier} {
    @content;
  }
}

// Placeholder
@mixin hinttext {
    & ::-webkit-input-placeholder {
        @content;
    }

    & :-moz-input-placeholder {
        @content;
    }

    & ::-moz-input-placeholder {
        @content;
    }

    & :-ms-input-placeholder {
        @content;
    }
}
