/* Custom default button */
.btn-default,
.btn-default:hover,
.btn-default:focus {
  color: $main-color;
  text-shadow: none; /* Prevent inheritence from `body` */
  background-color: #fff;
  border: 1px solid #fff;
}

html,
body {
  height: 100%;
  background-color: $main-color;
}

body {
  color: #fff;
}

h1,
h2,
h3,
h4,
h5,
h6,
body {
    font-family: $font-lato;
}

a:hover,
a:active,
a:focus {
    text-decoration: none;
}