// Typography
$font-lato: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;

// Media queries
$tablet-width: 768px;
$desktop-width: 992px;

// Colors
$main-color: #333;
$product-background-color: #FFF;
$product-color: #E1E3DF;
$error-color: #a94442;